.uib-tab{
	font-size: 16px;
}
div.customer-padding{
	padding: 50px;
}
div {
  margin-bottom: 10px;
}

input:invalid+span:after {
  content: '✖';
  color:red;
  
}

input:valid+span:after {
  content: '✓';
  color:green;
}
span.validity{
	font-size: 16px;
    padding-left: 5px;
    font-weight: bold;
}