<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
</head>
<body ng-app="demo">
	<div class="container" ng-controller="RequestController">
		<br/>
		<uib-tabset active="activeTab" justified="true">
		    <uib-tab index="0" heading="Dashboard">
		    	<br/>
				<table class="table table-striped">
					<thead>
				      <tr>
				        <th>Request ID</th>
				        <th>Customer ID</th>
				        <th>Time Elapsed</th>
				        <th>Status</th>
				        <th>Driver</th>
				      </tr>
				    </thead>
				    <tbody ng-repeat="request in allRequests">
				      <tr>
				        <td>{{request.requestId}}</td>
				        <td>{{request.customerId}}</td>
				        <td>{{getTimeDiff(request.requestPlaced)}}</td>
				        <td>{{request.status}}</td>
				        <td>{{getDiver(request.driverId)}}</td>
				      </tr>
			      	</tbody>
				</table>
			</uib-tab>
		    
		    <uib-tab index="1" heading="CustomerApp">
		    	<div class="customer-padding">
					<div class="row">
						<label>Customer ID:</label>
						<input type="number" placeholder="Set ID" ng-model="customerId" required/>
						<span class="validity"></span>
					</div>
					<br/>
					<div class="row">
						<button class="btn btn-success" ng-click="rideNow(customerId)">Ride Now</button>
					</div>
				</div>
			</uib-tab>
		    
		    <uib-tab index="2" heading="DriverApp">
		    	<br/>
		    	<div class="row">
		    	  <div class="col-sm-6 col-md-4 col-lg-4 ">
		    		<label class="control-label">Select Driver:</label>
					<select ng-model="driverId" ng-change="driverSelected(driverId)" class="form-control">
					   <option ng-repeat="n in [].constructor(5) track by $index+1" >{{$index+1}}</option>
					</select>
				  </div>
		    	</div>
		    	<br/>
		    	<uib-tabset active="activeDriverTab" justified="true">
		    		<uib-tab index="0" heading="Waiting">
		    		</uib-tab>
		    		<uib-tab index="1" heading="Ongoing">
		    		</uib-tab>
		    		<uib-tab index="2" heading="Complete">
		    		</uib-tab>
		    	</uib-tabset>
			</uib-tab>
		    
		</uib-tabset>
	</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/lib/moment.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/RequestController.js"></script>
<script src="js/app/RequestService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>